@using Newtonsoft.Json.Linq


@model List<Trail>
holy momma

@foreach (var a in Model)

{
    
    <h3><a asp-action="ShowTrail" asp-controller="trail" asp-route-id="@a.Id">@a.Name</a></h3>
    <h5>@a.Location</h5>
    
    <p>@a.Length</p>
   
    <p>@a.Length miles</p>
     }
    <hr/>



