@using Newtonsoft.Json.Linq


@model JObject
holy momma

@foreach (var a in Model["trails"])

{
    @a
    <h3><a asp-action="ShowTrail" asp-controller="trail" asp-route-t="@a">@a["name"]</a></h3>
    <h5>@a["city"], @a["state"]</h5>
    
    <p>@a["summary"]</p>
   
    <p>@a["length"] miles</p>
     }
    <hr/>



